.text-field{
    -fx-border-radius: 14;
    -fx-background-radius: 14;
    -fx-background-color: #E23E57;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

.pane_main{
    -fx-background-color: #DDDDDD;
}


.root{
    -fx-background-color: #311D3F;
    -fx-border-color: #E23E57;
    -fx-border-width: 2;
}

.button{
    -fx-border-radius: 14;
    -fx-background-radius: 14;
    -fx-background-color: #522546;
    -fx-text-fill: white;
    -fx-border-color: #E23E57;
}

#label{
    -fx-background-color: #88304E;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-content-display: center;
    -fx-label-padding: 4;
}
