.combo-box{
    -fx-border-radius: 14;
    -fx-background-radius: 14;
    -fx-border-color: #76885B;
    -fx-background-color: #522546;
}

.combo-box .arrow-button {
    -fx-border-radius: 0 14 14 0;
    -fx-background-radius: 0 14 14 0;
    -fx-background-color: #88304E;
    -fx-border-color: #E23E57;
}

.combo-box .arrow-button .arrow{
    -fx-background-color: white;
    -fx-border-color: white;
}

.combo-box .text-field{
    -fx-border-radius: 14 0 0 14;
    -fx-background-radius: 14 0 0 14;
    -fx-background-color: #522546;
    -fx-border-color: #E23E57;
    -fx-text-fill: white;
}

.combo-box .cell:hover{
    -fx-border-radius: 14;
    -fx-background-radius: 14;
    -fx-border-color: #76885B;
    -fx-background-color: #E23E57;
    -fx-text-fill: white;
}