.table-view{
    -fx-background-color: #DDDDDD;
    -fx-background-radius: 14;
    -fx-border-radius: 14;
    -fx-border-color: #76885B;
}
.table-view .column-header-background{
    -fx-background-color: #76885B;
    -fx-background-radius: 14;
}
.table-view .column-header .label{
    -fx-text-fill: EEEEEE;
    -fx-border-radius: 14;
}
.table-view .table-column{
    -fx-background-color: #76885B;
    -fx-background-radius: 14;
}

.table-view .cell{
    -fx-background-color: transparent;
    -fx-background-radius: 14;
    -fx-border-radius: 14;
}

#Diem .cell:hover{
    -fx-background-color: #76885B;
    -fx-border-radius: 14;
    -fx-background-radius: 14;
    -fx-border-color: #EEEEEE;
    -fx-text-fill: #EEEEEE;
}

#Diem .cell:selected{
    -fx-background-color: #627254;
    -fx-border-radius: 14;
    -fx-background-radius: 14;
    -fx-border-color: #EEEEEE;
    -fx-text-fill: #EEEEEE;
}

.text-field{
    -fx-border-radius: 14;
    -fx-background-radius: 14;
    -fx-border-color: #76885B;
    -fx-background-color: #E23E57;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

.combo-box{
    -fx-border-radius: 14;
    -fx-background-radius: 14;
    -fx-border-color: #76885B;
    -fx-background-color: #E23E57;
}

.choice-box{
    -fx-border-radius: 14;
    -fx-background-radius: 14;
    -fx-border-color: #76885B;
    -fx-background-color: #E23E57;
    -fx-text-fill: white;
}

.button{
    -fx-border-radius: 14;
    -fx-background-radius: 14;
    -fx-border-color: #76885B;
    -fx-border-width: 2;
    -fx-background-color: #522546;
    -fx-text-fill: white;
}

#label{
    -fx-background-color: #88304E;
    -fx-background-radius: 14;
    -fx-border-radius: 14;
    -fx-text-fill: white;
    -fx-text-alignment: CENTER;
    -fx-label-padding: 4;
}

.root{
    -fx-background-color: #311D3F;
    -fx-border-color: #E23E57;
    -fx-border-width: 2;
}