.pane{
    -fx-background-color: #88304E;
}

.choice-box{
    -fx-background-radius: 14;
    -fx-border-radius: 14;
    -fx-background-color: #E23E57;
    -fx-border-color: white;
}

.choice-box .label{
    -fx-text-fill: white;
}

.choice-box .tree-cell{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: #E23E57;
    -fx-text-fill: white;
}